<div class="wrapper">
    <div class="main">
        <h1>For teams big and small</h1>
        <p>Our courses help businesses do what they do best; whether they have thousands of employees or just a few. We
            have a review rating
            of 4.8 from over 25,000 reviews.
        </p>
        <ul>
            <li><a href="">Find out what Waterstones thought</a> <img class="arrow-icon"
                    src="assets/bi-arrow-right-circle-fill.svg" alt=""></li>
            <li><a href="">How we helped the Lonely Fisherman</a> <img class="arrow-icon"
                    src="assets/bi-arrow-right-circle-fill.svg" alt=""></li>
            <li><a href="">See how we help to keep Deliveroo rolling</a> <img class="arrow-icon"
                    src="assets/bi-arrow-right-circle-fill.svg" alt=""></li>
        </ul>
        <div>
            <img src="assets/reviews.png" alt="">
        </div>
    </div>
    <div class="images-wrapper">
        <div class="logo">
            <img src="assets/waterstones.png" alt="waterstones">
        </div>
        <div>
            <img src="assets/tlc.png" alt="tlc care and support">
        </div>
        <div class="logo">
            <img src="assets/sellafield.png" alt="Sellafield">
        </div>
        <div>
            <img src="assets/deliveroo.png" alt="Deliveroo">
        </div>
        <section class="reviews">
            <p>
                "A quote about working with High Speed Training which was amazing we learnt so much. Will buy again."
            </p>
            <span><strong>Mr.Sellafield</strong> </span>
            <br>
            <span><strong>CEO Sellafield Corp</strong></span>
        </section>
    </div>
</div>