<!-- <div class="wrapper">
  <div class="main">
    <h1>For teams big and small</h1>
    <p>Our courses help businesses do what they do best; whether they have thousands of employees or just a few.</p>
    <ul>
      <li><a href="">Read what Waterstones thought</a> <img class="arrow-icon"
          src="assets/bi-arrow-right-circle-fill.svg" alt=""></li>
      <li><a href="">See how we helped Welcome Stranger Fish & Chips</a> <img class="arrow-icon"
          src="assets/bi-arrow-right-circle-fill.svg" alt=""></li>
      <li><a href="">Find out how Deliveroo use our training</a> <img class="arrow-icon"
          src="assets/bi-arrow-right-circle-fill.svg" alt=""></li>
    </ul>
    <div>
      <img src="assets/reviews.png" alt="">
    </div>
  </div>
  <div class="images-wrapper">
    <div class="logo">
      <img src="assets/waterstones.png" alt="waterstones">
    </div>
    <div>
      <img src="assets/tlc.png" alt="tlc care and support">
    </div>
    <div class="logo">
      <img src="assets/deliveroo.png" alt="Deliveroo">
    </div>
    <div>
      <img src="assets/sellafield.png" alt="Sellafield">
    </div>
    <section class="reviews">
      <p>
        "A quote about working with High Speed Training which was amazing we learnt so much. Will buy again."
      </p>
      <span>Mr.Sellafield</span>
      <br>
      <span>CEO Sellafield Corp</span>
    </section>
  </div>
  
</div> -->
<!-- <app-responsive-ui></app-responsive-ui>
<app-courses></app-courses>  -->
<router-outlet></router-outlet>